body {
  background: #4695D2;
  font-family: 'Lato', sans-serif;
}

a {
  color: #4695D2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header .logo {
  background: url("../img/street-smarts-logo.png") 0 0 no-repeat;
  background-size: 100px 35px;
  height: 35px;
  margin: 0;
  position: absolute;
  top: 3px;
  left: 60px;
  text-indent: -9999px;
  width: 110px;
}

header .hamburger,
header .cross {
  color: #ffffff;
  font-size: 33px;
  background: none;
  border: 0;
}

header .hamburger {
  padding: 0 10px;
}

header .cross {
  display: none;
  padding: 3px 15px;
}

header .menu {
  background: #212121;
  color: #ffffff;
  font-size: 12px;
  height: 52px;
}

header .menu .menu-title {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
  position: absolute;
  left: 60px;
  top: 35px;
}

header .menu .page-title {
  font-size: 16px;
  float: right;
  line-height: 52px;
  padding-right: 20px;
  text-transform: uppercase;
}

header .menu ul {
  display: none;
  position: absolute;
  top: 52px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #212121;
  z-index: 1001;
}

header .menu ul li a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  padding: 0 20px;
  line-height: 52px;
  border-top: 1px solid #393737;
}

header .menu ul li a.active {
  color: #FEB934;
}

header .menu ul li a:hover,
header .menu ul li a.active:hover {
  background: #FEB934;
  color: #212121;
  text-decoration: none;
}

.top-section {
  display: none;
  background: #212121;
  border-radius: 8px;
  overflow: hidden;
  padding: 14px;
  position: relative;
  margin: 25px 20px 0;
}

.top-section-content {
  display: block;
}

.top-section-content .top-section-photo {
  background: url("../img/header-home.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 100px;
  width: 100%;
}

.top-section-content .top-section-text {
  color: #ffffff;
  font-size: 14px;
  line-height: 28px;
  margin-top: 10px;
}

.content-section {
  overflow: hidden;
  margin: 0 20px;
}

.box {
  color: #212121;
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  min-height: 140px;
}

.box.dark {
  background: #212121;
}

.box h2 {
  margin: 0;
  font-size: 22px;
  line-height: 24px;
}

.box .box-text {
  font-size: 14px;
  line-height: 16px;
}

.box.box-home .box-text {
  margin: 10px 110px 0 0;
}

.box .box-image {
  margin: 20px auto;
}

.box.box-home .box-image {
  margin: 0;
  float: right;
}

.box.box-about .box-image {
  background: url("../img/511cc-logo.png") 0 0 no-repeat;
  background-size: 100px 60px;
  height: 60px;
  width: 100px;
}

.box.box-programs .box-image {
  background-image: url("../img/beeps.png") 0 0 no-repeat;
  background-size: 100px 92px;
  height: 92px;
  width: 100px;
}

.box.box-service-area .box-image {
  background-image: url("../img/cc-map.png") 0 0 no-repeat;
  background-size: 100px 55px;
  height: 55px;
  width: 100px;
}

.box.box-schools-map {
  height: 385px;
}

.box.box-schools-map .schools-map {
  height: 357px;
}

.box.box-contact .btn-email {
  float: none;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

.box.box-supporters .logo {
  text-indent: -9999px;
  margin: 0 auto 20px;
  display: block;
}

.box.box-supporters .box-supporters-511cc {
  background: url("../img/511cc-logo.png") 0 0 no-repeat;
  background-size: 148px 86px;
  width: 148px;
  height: 86px;
  margin-top: 20px;
}

.box.box-supporters .box-supporters-ccta {
  background: url("../img/ccta-logo.png") 0 0 no-repeat;
  background-size: 205px 58px;
  width: 205px;
  height: 58px;
}

.box.box-supporters .box-supporters-baaqmd {
  background: url("../img/baaqmd-logo.png") 0 0 no-repeat;
  background-size: 152px 76px;
  width: 152px;
  height: 76px;
}

.box.box-supporters .box-text {
  clear: both;
  padding-top: 5px;
}

.box.box-k-2 .box-image {
  background: url("../img/beeps.png") 0 0 no-repeat;
  background-size: 174px 159px;
  height: 159px;
  width: 174px;
}

.box.box-3-5 .box-image {
  background: url("../img/heads-up.png") 0 0 no-repeat;
  background-size: 156px 233px;
  height: 222px;
  width: 156px;
}

.box.box-6-8 .box-image {
  background: url("../img/bmx.png") 0 0 no-repeat;
  background-size: 164px 177px;
  height: 177px;
  width: 164px;
}

.box.box-9-12 .box-image {
  background: url("../img/chp-program.jpg") 0 0 no-repeat;
  background-size: 156px 203px;
  height: 203px;
  width: 156px;
}

footer {
  background-image: linear-gradient(-180deg, #454545 0%, #212121 100%);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  height: 106px;
  margin-top: 25px;
  position: relative;
}

footer .copyright {
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding-top: 78px;
}

footer .footer-logo {
  text-indent: -9999px;
  display: block;
}

footer .footer-logo-511cc {
  width: 97px;
  height: 60px;
  background: url("../img/footer-logo-511cc.png") 0 0 no-repeat;
  background-size: 97px 60px;
  position: absolute;
  top: 6px;
  right: 20px;
}

footer .footer-logo-street-smarts {
  width: 151px;
  height: 60px;
  background: url("../img/footer-logo-street-smarts.png") 0 0 no-repeat;
  background-size: 151px 60px;
  margin-right: 40px;
  position: absolute;
  top: 6px;
  left: 20px;
}

.btn {
  width: 180px;
  display: inline-block;
  text-align: center;
  padding: 12px 15px;
  font-size: 18px;
}

.btn-blue {
  background: #4695D2;
  color: #ffffff;
}

.btn-blue:hover {
  text-decoration: none;
  background: #4089c2;
}

.btn-right {
  float: right;
}

@media only screen and (min-width: 964px) {
  .wrapper {
    width: 964px;
    margin: 0 auto;
  }

  header .clouds {
    position: absolute;
    background: url("../img/background-clouds.png") right top no-repeat;
    background-size: 357px 74px;
    width: 357px;
    height: 74px;
    top: 10px;
    padding-left: 589px;
  }

  header .logo {
    background-size: 320px 114px;
    height: 114px;
    margin: 0;
    top: 10px;
    left: auto;
    width: 320px;
  }

  header .menu {
    margin-top: 100px;
    overflow: hidden;
  }

  header .menu .menu-title {
    font-size: 20px;
    line-height: 52px;
    width: 320px;
    float: left;
    position: relative;
    left: auto;
    top: auto;
  }

  header .menu .page-title {
    display: none;
  }

  header .hamburger {
    display: none;
  }

  header .cross {
    display: none;
  }

  header .menu ul {
    display: block;
    float: right;
    position: relative;
    top: 0;
    width: auto;
  }

  header .menu ul li {
    display: inline-block;
  }

  header .menu ul li a {
    display: inline-block;
    border-top: 0;
  }

  .top-section {
    display: block;
    margin: 25px 0 0;
  }

  .top-section-title {
    color: #ffffff;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 25px;
  }

  .top-section-content .top-section-text {
    margin: 0;
  }

  .top-section-photo {
    background: url("../img/header-full.jpg") 0 0 no-repeat;
    background-size: 936px 127px;
    border-radius: 5px;
    height: 127px;
    float: left;
    width: 936px;
  }

  .top-section-content .top-section-photo {
    background-size: 629px 196px;
    height: 196px;
    float: left;
    width: 629px;
    margin-right: 26px;
  }

  .content-section {
    margin: 0;
  }

  .box {
    height: 250px;
  }

  .box.box-home .box-text {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 87%;
  }

  .box.half {
    width: 49%;
    float: left;
    margin-right: 2%;
  }

  .box.half:nth-child(2n) {
    margin-right: 0;
  }

  .box.thirds {
    width: 32%;
    float: left;
    margin-right: 2%;
  }

  .box.thirds:nth-child(3n) {
    margin-right: 0;
  }

  .box.box-home {
    height: 220px;
  }

  .box.box-home .box-image {
    top: 14px;
    right: 14px;
    left: auto;
  }

  .box.box-about .box-image {
    background-size: 176px 106px;
    height: 106px;
    width: 176px;
  }

  .box.box-programs .box-image {
    background-size: 140px 128px;
    height: 128px;
    width: 140px;
  }

  .box.box-service-area .box-image {
    background-size: 209px 115px;
    height: 115px;
    width: 209px;
    top: 40px;
  }

  .box.box-contact {
    height: 280px;
  }

  .box.box-supporters {
    height: 280px;
  }

  .box.box-supporters .logo {
    float: left;
  }

  .box.box-supporters .box-supporters-511cc {
    margin-top: 20px;
  }

  .box.box-supporters .box-supporters-ccta {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .box.box-supporters .box-supporters-baaqmd {
    margin-left: 60px;
    margin-bottom: 10px;
  }

  .box-image {
    position: absolute;
    top: 14px;
    left: 14px;
    margin: 0;
  }

  .box.box-k-2 .box-text,
  .box.box-k-2 h2 {
    padding-left: 195px;
  }

  .box.box-3-5 .box-text,
  .box.box-3-5 h2 {
    padding-left: 175px;
  }

  .box.box-6-8 .box-text,
  .box.box-6-8 h2 {
    padding-left: 185px;
  }

  .box.box-9-12 .box-text,
  .box.box-9-12 h2 {
    padding-left: 175px;
  }

  footer .footer-logo {
    float: right;
    margin-top: 10px;
  }

  footer .footer-logo-511cc {
    width: 129px;
    height: 80px;
    background-size: 129px 80px;
    position: relative;
    top: auto;
    right: auto;
  }

  footer .footer-logo-street-smarts {
    width: 201px;
    height: 80px;
    background-size: 201px 80px;
    position: relative;
    top: auto;
    right: auto;
  }

  footer .copyright {
    float: left;
    padding-top: 75px;
    font-size: 12px;
  }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  header .clouds {
    background-image: url("../img/background-clouds@2x.png");
  }

  header .logo {
    background-image: url("../img/street-smarts-logo@2x.png");
  }

  .top-section-content .top-section-photo {
    background-image: url("../img/header-home@2x.jpg");
  }

  .top-section-photo {
    background-image: url("../img/header-full@2x.jpg");
  }

  .box.box-about .box-image {
    background-image: url("../img/511cc-logo@2x.png");
  }

  .box.box-programs .box-image {
    background-image: url("../img/beeps@2x.png");
  }

  .box.box-service-area .box-image {
    background-image: url("../img/cc-map@2x.png");
  }

  footer .footer-logo-511cc {
    background-image: url("../img/footer-logo-511cc@2x.png");
  }

  footer .footer-logo-street-smarts {
    background-image: url("../img/footer-logo-street-smarts@2x.png");
  }

  .box.box-supporters .box-supporters-511cc {
    background-image: url("../img/511cc-logo.png");
  }

  .box.box-supporters .box-supporters-ccta {
    background-image: url("../img/ccta-logo.png");
  }

  .box.box-supporters .box-supporters-baaqmd {
    background-image: url("../img/baaqmd-logo.png");
  }

  .box.box-k-2 .box-image {
    background-image: url("../img/beeps@2x.png");
  }

  .box.box-3-5 .box-image {
    background-image: url("../img/heads-up@2x.png");
  }

  .box.box-6-8 .box-image {
    background-image: url("../img/bmx@2x.png");
  }

  .box.box-9-12 .box-image {
    background-image: url("../img/chp-program@2x.jpg");
  }
}
