body {
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(0deg, #DAF3FC 0%, #357DD2 100%);
  color: #212121;
}

a {
  color: #4695D2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 1.5px;
}

video.bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover;
  display: none;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

header .logo {
  background: url("../img/beeps-logo.png") 0 0 no-repeat;
  background-size: 135px 45px;
  height: 45px;
  margin: 0;
  position: absolute;
  top: 3px;
  left: 60px;
  text-indent: -9999px;
  width: 135px;
}

header .hamburger,
header .cross {
  color: #ffffff;
  font-size: 33px;
  background: none;
  border: 0;
  padding: 5px 15px;
  height: 52px;
  float: left;
}

header .cross {
  display: none;
}

header .menu {
  background: #FEB508;
  color: #ffffff;
  font-size: 22px;
  height: 52px;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 0.91px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.10);
  letter-spacing: 1.5px;
}

header .menu .page-title {
  color: #2061AC;
  font-size: 16px;
  float: right;
  line-height: 52px;
  padding-right: 20px;
  text-transform: uppercase;
}

header .menu ul {
  display: none;
  position: absolute;
  top: 52px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1001;
  background: #ffffff;
  border-bottom: 1px solid #393737;
}

header .menu ul li a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: #212121;
  padding: 0 16px;
  line-height: 52px;
  border-top: 1px solid #393737;
}

header .menu ul li a.active {
  color: #2061AC;
}

header .menu ul li a:hover,
header .menu ul li a.active:hover {
  color: #2061AC;
}

.top-section {
  overflow: hidden;
  position: relative;
}

.top-section h2 {
  font-size: 22px;
  margin: 20px 20px 0 20px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.top-section-home {
  background: url("../img/beeps.png") center bottom -25px no-repeat;
  background-size: 275px 275px;
  padding-bottom: 225px;
}

.content-section {
  overflow: hidden;
  margin: 0 20px;
  clear: both;
}

.box {
  color: #212121;
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  min-height: 140px;
}

.box.dark {
  background: #212121;
}

.box h2 {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}

.box .box-text {
  font-size: 14px;
  line-height: 16px;
}

.box.box-home .box-text {
  margin: 10px 0;
}

.box .box-image {
  margin: 20px auto;
}

.box.box-home .box-image {
  margin: 0;
  width: 75%;
  margin: 0 auto;
}

.box.box-about .box-image {
  background: url("../img/street-smarts-logo.png") 0 0 no-repeat;
  background-size: 200px 76px;
  height: 76px;
  width: 200px;
}

.box.box-activities .box-image {
  background: url("../img/activities.png") 0 0 no-repeat;
  background-size: 150px 95px;
  height: 95px;
  width: 150px;
}

.box.box-school-assemblies h2 {
  text-align: right;
}

.box.box-school-assemblies .box-image {
  background: url("../img/school-assemblies.png") 0 0 no-repeat;
  background-size: 200px 130px;
  height: 130px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.box.box-school-assemblies .box-text {
  padding-top: 60px;
}

.box.box-contact .btn-email {
  float: none;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

.box.box-program .box-image {
  background: url("../img/beeps.png") 0 0 no-repeat;
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  bottom: 0;
  top: auto;
  margin-bottom: 0;
}

.box.box-supporters {
  font-size: 14px;
}

.box.box-supporters .logo {
  text-indent: -9999px;
  margin: 10px auto 20px;
  display: block;
}

.box.box-supporters .box-supporters-street-smarts {
  background: url("../img/street-smarts-logo.png") 0 0 no-repeat;
  background-size: 245px 94px;
  width: 245px;
  height: 94px;
}

.box.box-supporters .box-supporters-511cc {
  background: url("../img/511cc-logo.png") 0 0 no-repeat;
  background-size: 148px 86px;
  width: 148px;
  height: 86px;
}

.box.box-supporters .box-supporters-ccta {
  background: url("../img/ccta-logo.png") 0 0 no-repeat;
  background-size: 205px 58px;
  width: 205px;
  height: 58px;
}

.box.box-supporters .box-supporters-baaqmd {
  background: url("../img/baaqmd-logo.png") 0 0 no-repeat;
  background-size: 152px 76px;
  width: 152px;
  height: 76px;
}

.box.box-supporters .box-text {
  clear: both;
  padding-top: 5px;
}


.box.box-puzzles .coloring-book {
  width: 100%;
  height: auto;
}
.box.box-reading .hydrogen-cars {
  width: 100%;
  height: auto;
}

.box.box-reading .hydrogen-cars .hydrogen-cars-book {
  width: 100%;
  height: auto;
}

.box.box-tour-schedule h1 {
  text-align: center;
}

.box.box-tour-schedule .box-text {
  overflow: hidden;
  line-height: 20px;
}

.school-assemblies-background {
  background: url("../img/school-assemblies.png") 0 0 no-repeat;
  background-size: 551px 355px;
  height: 355px;
  width: 100%;
  position: absolute;
  top: 801px;
  left: 0;
  z-index: -2;
}

.school-assemblies-inquiry {
  margin-top: 240px;
  font-size: 14px;
}

footer {
  background-image: linear-gradient(-180deg, #454545 0%, #212121 100%);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  overflow: hidden;
  margin-top: 25px;
  position: relative;
}

footer .copyright {
  color: #ffffff;
  padding-top: 20px;
}

footer .copyright a {
  color: #ffffff;
}

footer .footer-right {
  position: absolute;
  top: 53px;
  margin-top: 5px;
  width: 100%;
}

footer .footer-logo {
  text-indent: -9999px;
  display: block;
}

footer .footer-logo-511cc {
  width: 97px;
  height: 60px;
  background: url("../img/footer-logo-511cc.png") 0 0 no-repeat;
  background-size: 97px 60px;
  position: absolute;
  top: 6px;
  right: 20px;
}

footer .footer-logo-street-smarts {
  width: 151px;
  height: 60px;
  background: url("../img/footer-logo-street-smarts.png") 0 0 no-repeat;
  background-size: 151px 60px;
  margin-right: 40px;
  position: absolute;
  top: 6px;
  left: 20px;
}

footer .footer-left {
  padding: 90px 20px 20px 20px;
}

footer .street-smarts-link {
  background: #ffffff;
  border-radius: 8px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  padding: 4px 15px;
  display: block;
  margin: 10px auto;
  width: 200px;
}

footer .social-link {
  font-size: 28px;
  width: 40px;
  height: 40px;
  color: #4695D2;
  background: #ffffff;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

footer .social-link:hover {
  background: #4695D2;
  color: #ffffff;
}

footer .social-link .fa {
  line-height: 40px;
}

.btn {
  width: 180px;
  display: inline-block;
  text-align: center;
  padding: 12px 15px;
  font-size: 18px;
}

.btn-blue {
  background: #4695D2;
  color: #ffffff;
}

.btn-blue:hover {
  text-decoration: none;
  background: #4089c2;
}

.btn-right {
  float: right;
}

@media only screen and (min-width: 350px) {
  .school-assemblies-background {
    top: 712px;
  }
}

@media only screen and (min-width: 700px) {
  .school-assemblies-background {
    top: 700px;
  }
}

@media only screen and (min-width: 964px) {
  video.bgvid {
    display: block;
  }
  .wrapper {
    width: 964px;
    margin: 0 auto;
  }

  .header-background {
    background: url("../img/header-background.png") center top no-repeat;
    background-size: cover;
    position: absolute;
    top: -92px;
    left: 0;
    height: 305px;
    width: 100%;
    z-index: 0;
  }

  header .logo {
    background-size: 309px 114px;
    height: 114px;
    margin: 0;
    top: 10px;
    left: auto;
    width: 309px;
  }

  header .menu {
    background: none;
    margin-top: 30px;
    overflow: hidden;
  }

  header .menu .page-title {
    display: none;
  }

  header .hamburger {
    display: none;
  }

  header .cross {
    display: none;
  }

  header .menu ul {
    display: block;
    float: right;
    position: relative;
    top: 0;
    width: auto;
    background: none;
    border-bottom: 0;
  }

  header .menu ul li {
    display: inline-block;
  }

  header .menu ul li a {
    display: inline-block;
    border-top: 0;
    color: #ffffff;
    line-height: 24px;
  }

  .top-section {
    padding-top: 85px;
  }

  .top-section h2 {
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    width: 600px;
    float: right;
  }

  .top-section-home {
    background-position: left 20px top;
    padding-bottom: 0;
    height: 165px;
  }

  .top-section .top-section-text {
    float: right;
    width: 530px;
  }

  .content-section {
    margin: 0;
  }

  .box {
    height: 250px;
  }

  .box.box-home .box-text {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 87%;
  }

  .box.half {
    width: 49%;
    float: left;
    margin-right: 2%;
  }

  .box.half:nth-child(2n) {
    margin-right: 0;
  }

  .box.thirds {
    width: 32%;
    float: left;
    margin-right: 2%;
  }

  .box.thirds:nth-child(3n) {
    margin-right: 0;
  }

  .box.box-home {
    height: 220px;
  }

  .box.box-home .box-image {
    top: 14px;
    right: 14px;
    left: auto;
  }

  .box.box-about .box-image {
    background-size: 245px 94px;
    height: 94px;
    width: 245px;
    top: 50px;
    right: 30px;
  }

  .box.box-activities .box-image {
    background-size: 200px 126px;
    height: 126px;
    width: 200px;
    top: 39px;
    right: 51px;
  }

  .box.box-activities h2 {
    text-align: center;
  }

  .box.box-school-assemblies .box-image {
    background-size: 305px 199px;
    height: 199px;
    width: 305px;
    top: 0;
    left: 0;
    right: auto;
  }

  .school-assemblies-background {
    left: auto;
    width: 551px;
    top: 111px;
    z-index: -2;
  }

  .school-assemblies-inquiry {
    width: 342px;
  }

  .box.box-contact {
    height: 325px;
  }

  .box.box-contact .btn-email {
    margin-top: 25px;
  }

  .box.box-history {
    height: 325px;
  }

  .box.box-program {
    height: 325px;
  }

  .box.box-program .box-image {
    margin-left: 30px;
  }

  .box.box-supporters {
    height: 220px;
  }

  .box.box-supporters .logo {
    float: left;
    margin-top: 0;
  }

  .box.box-supporters .supporters-section {
    float: right;
    width: 50%;
    margin-left: 20px;
    margin-top: -20px;
  }

  .box.box-supporters .box-supporters-street-smarts {
    float: left;
  }

  .box.box-supporters .box-supporters-511cc {
    float: right;
    margin-right: 20px;
  }

  .box.box-supporters .box-supporters-ccta {
    float: left;
    margin-bottom: 0;
  }

  .box.box-supporters .box-supporters-baaqmd {
    float: right;
    margin-right: 20px;
    margin-bottom: 0;
    clear: both;
  }


  .box.box-puzzles {
    height: 395px;
  }
  .box.box-reading {
    height: 395px;
  }

  .box.box-puzzles .box-text {
    float: left;
  }

  .box.box-puzzles .coloring-book {
    float: left;
    width: 212px;
    height: 270px;
    margin-left: 115px;
    margin-top: 15px;
  }

  .box.box-reading .hydrogen-cars {
    float: left;
    margin-left: 100px;
    margin-top: 15px;
  }
  .box.box-reading .hydrogen-cars .hydrogen-cars-book {
    width: 250px;
    height: 270px;
  }

  .box-image {
    position: absolute;
    top: 14px;
    left: 14px;
    margin: 0;
  }

  .box.box-tour-schedule {
    height: auto;
    width: 60%;
    float: right;
  }

  footer .footer-logo {
    float: right;
  }

  footer .footer-logo-511cc {
    width: 129px;
    height: 80px;
    background-size: 129px 80px;
    position: relative;
    top: auto;
    right: auto;
  }

  footer .footer-logo-street-smarts {
    width: 201px;
    height: 80px;
    background-size: 201px 80px;
    position: relative;
    top: auto;
    right: auto;
  }

  footer .copyright {
    padding-top: 17px;
    font-size: 12px;
  }

  footer .street-smarts-link {
    position: absolute;
    top: 8px;
    left: 50%;
    margin: 0 0 0 -125px;
    width: auto;
  }

  footer .footer-left {
    float: left;
    width: 45%;
    padding: 20px 10px;
  }

  footer .footer-right {
    float: right;
    width: 45%;
    padding: 10px;
    position: relative;
    top: 0;
    margin: 0;
  }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

  .header-background {
    background-image: url("../img/header-background@2x.png");
  }

  header .logo {
    background-image: url("../img/beeps-logo@2x.png");
  }

  .top-section-home {
    background-image: url("../img/beeps@2x.png");
  }

  .box.box-about .box-image {
    background-image: url("../img/street-smarts-logo@2x.png");
  }

  .box.box-activities .box-image {
    background-image: url("../img/activities@2x.png");
  }

  .box.box-program .box-image {
    background-image: url("../img/beeps@2x.png");
  }

  .box.box-school-assemblies .box-image {
    background-image: url("../img/school-assemblies@2x.png");
  }

  .box.box-supporters .box-supporters-street-smarts {
    background-image: url("../img/street-smarts-logo@2x.png");
  }

  .box.box-supporters .box-supporters-511cc {
    background-image: url("../img/511cc-logo@2x.png");
  }

  .box.box-supporters .box-supporters-ccta {
    background-image: url("../img/ccta-logo@2x.png");
  }

  .box.box-supporters .box-supporters-baaqmd {
    background-image: url("../img/baaqmd-logo@2x.png");
  }

  .school-assemblies-background {
    background-image: url("../img/school-assemblies@2x.png")
  }

  footer .footer-logo-511cc {
    background-image: url("../img/footer-logo-511cc@2x.png");
  }

  footer .footer-logo-street-smarts {
    background-image: url("../img/footer-logo-street-smarts@2x.png");
  }
}
